@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
    font-family: quicksand;
    padding:0px;
    margin: 0px;
}

marquee{
    background: red;
    color:white;
    font-weight: bold;
    direction: down;
}

/* nav style */

.nav-container{
    display: flex;
    justify-content: space-around;
}
nav{
    margin-bottom: 100px;
}
.left-content{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    gap: 17px;
}
.nav-links{
    display: flex;
    gap: 50px;
    align-items: center;
    
}
.nav-links li{
    list-style-type: none;
    font-weight: bold;
}
.nav-links a{
    text-decoration: none;
    font-size: 1.25rem;
}
.list-home a{
    font-weight: bold;
    color:orange;
}
.list-about a{
color: skyblue;
}
.list-facilities a{
color: #05D4DF;
}
.list-admission a{
color: #5D58EF;
}
.nav-btn{
    background-color: orange;
    color: white;
    padding:10px 60px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 12px;
}

/* banner-style */

.banner{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.banner-container{
    display: flex;
    align-items: center;
    gap: 100px;
}

.banner-title{
    font-size: 3.5rem;
    font-weight: bold;
}

.emp{
    color: orange;
}

.to-vis{
    color: rgb(67, 196, 247);
}

.banner-p{
    font-size: 1.25rem;
}

.banner-btn{
    background-color: black;
    padding:10px 47px;
    font-style: 1.25rem;
    font-weight: bold;
    color: white;
    border-radius: 12px;
    border: none;
}

/* sc-styles */

.standard-curriculum{
    display: flex;
    justify-content: center;
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.stories{
    background-image:url(../assets/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box-container{
    display: flex;
    margin-bottom: 100px;
}

.box-title{
    font-size: 1.5rem;
    font-weight: 700;
}

.boxes-a, .boxes-b, .boxes-c{
    text-align: center;
    width: 450px;
    padding: 100px 0px;
    border-radius: 18.86px;
}

.boxes-a{
    background-image: linear-gradient(to top , rgb(122, 96, 47) , rgb(68, 202, 255));
}

.boxes-b{
    background-image: linear-gradient(to top , rgb(175, 67, 67) , rgb(255, 178, 35));
}

.boxes-c{
    background-image: linear-gradient(to top , rgb(224, 28, 28)  , #7b25f3);
}

.sc-title{
    text-align: center;
    font-size: 2.9rem;
    font-weight: 700;
}

.boxes a{
    text-decoration: none;
    font-weight: 700;
}

.btn-a{
    color:#64C8FF;
}
.btn-b{
    color:#F0AA00;
}
.btn-c{
    color:#8700FF;
}
.box-p{
    margin-bottom: 50px;
}

/* stories style */

.box-parent{
display: flex;
gap: 50px;
}

.standard-curriculum{
    display: flex;
    justify-content: center;
}
.stories{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/bg.png),linear-gradient(to top , rgb(243, 224, 189) , white);
}

.sc-container{
    text-align: center;
}
.stories-title{
    text-align: center;
    font-size: 2.88rem;
    font-weight: 700;
}

.box-container{
    display: flex;
    justify-content: center;
}
.date-btn{
    background-color: #3CD8E8;
    padding: 18px 18px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius:47.93px;
    margin-left: 50px;
}
.box-grandchild{
    display: flex;
    gap: 100px;
}
.big-box{
    background-color: white;
    border-radius: 16px;
}
.big-texts{
    padding:20px;
}

.big-box-title{
    font-size: 1.5rem;
    font-weight: 700;
}

.big-box-image-container img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin-bottom: -45px;
}

.big-box-p{
    font-size: 0.9rem;
    color: #666666;
}

.right-boxes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}
.small-boxes img{
    display: block;
    margin-bottom: -30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.small-boxes{
    background-color: white;
    border-radius: 16px;
}

.date-btn-green{
    background-color: #95B226;
    padding: 18px 18px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius:47.93px;
    margin-left: 50px;
}
.date-btn-blue{
    background-color: #5D58F0;
    padding: 18px 18px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius:47.93px;
    margin-left: 50px;
}

.small-title{
    font-size: 0.9rem;
    font-weight: 700;
}

.small-text{
    padding: 20px;
}

.view-btn{
    display: block;
    margin: 80px auto;
    background-color: black;
    color: white;
    font-size: 1.25rem;
    padding:10px 61px;
    border-radius: 12px;
    border: none;
    font-weight: 600;
}

/* footer style */

.ab{
    display: flex;
    align-items: center;
}

.footer-container{
    background-color: #01ACFD;
    display: flex;
    justify-content:center;
    padding:100px;
}
.footer-title{
    font-size: 2.63rem;
    color: white;
    font-weight: 700;
}

.footer-child{
    display: flex;
    gap: 200px;
}

.middle p{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

.middle{
    text-align: start;
}

.foot-nav li{
    list-style: none;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.foot-nav li a{
    text-decoration: none;
    color:white;
}

.footer-p{
    color: white;
}

.right p{
    font-size: 1.6rem;
    color: white;
    font-weight: 700;
    margin-bottom: 20px;
}
@media screen and (max-width:576px) {

    /* responsive nav */

    .nav-container{
        flex-direction: column;
    }
    .nav-links, .nav-btn, .nav-title{
        visibility: hidden;
    }
    .menu-icon{
        width:30px;
        height:5px;
        margin:5px 0px;
        background-color: black;
    }
    .left-content{
        justify-content: space-around;
    }
    nav{
        border-bottom: 1px solid orange;
    }

    /* responsive banner */

    .banner-container{
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner-image img{
        width:100%;
    }

    /* main responsive */


    .standard-curriculum{
        justify-content: center;
    }
    .boxes-a, .boxes-b, .boxes-c{
        width:90%;
    }
    
    .box-grandchild{
        flex-direction: column;
        width:100%;
    }
    .big-box{
      width:100%;
    }
    .right-boxes{
        gap:5px;
        width:100%;
    }
    .small-images{
        width:100%;
    }
    .stories{
        justify-content: center;;
    }
    .big-box-image-container img{
        width:100%;
    }
    .big-box{
        display: none;
    }
    .box-container{
        display: flex;
        justify-content: center;
    }

    /* footer responsive */

    .footer-child{
        flex-direction: column;
        gap: 30px;
        margin-left: 10px;
        margin-bottom: 100px;
        margin-top: 100px;
    }
    .footer-container{
        padding:0px;
        justify-content: start;
       
    }
}